.container{
    display: flex;
    flex-direction: column;
}
.top{
    text-align: right;
}
header{
    border-bottom:2px solid gray;
    text-align: center;
}
.content{
    
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.filearea{
    max-width: 700px;
    margin: 0 auto;
}

#filebox, #upload_btn, #title_box{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#title_box{
    width: 60%;
}

.list_btn{
    padding: 12px 20px;
    margin: 8px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.padding1{
    padding-top: 70px;
}

#list_table{
    width: 400px;
}

.options{
    margin:auto;
}

.options td{
    padding-right:25px;
}

#time_info{
    color:cornflowerblue;
}